<?xml version='1.0' encoding='utf-8'?>
<widget id="com.calinfo.calculator" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CALci</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
  <icon src="res/icon/android/ldpi.png" density="ldpi"/>
  <icon src="res/icon/android/mdpi.png" density="mdpi"/>
  <icon src="res/icon/android/hdpi.png" density="hdpi"/>
  <icon src="res/icon/android/xhdpi.png" density="xhdpi"/>
  <icon src="res/icon/android/xxhdpi.png" density="xxhdpi"/>
  <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi"/>
</platform>
</widget>
